.container {
    height: 100vh;
    width: 100vw;
}
.header{
    background-color: white;
    padding: 0 20px
}
.header-content {
    display: flex;
    align-items: center;
  }
.brand {
    font-size: 2.3rem;
    padding: 10;
    margin-left: 10px; 
}
.content {
    padding: 24px;
}